* {
  box-sizing: border-box;
  font-family: sans-serif !important;
}

html, body, .content {
  height: 100%;
}

.app {
  min-height: 100%;
  padding-bottom: 80px;
  position: relative;
  background: #777;
}

.page {
  background: #9F96FF;
  min-height: calc(100vh - 130px);
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.main {
  display: block;
}
