@import "./resources/fonts/Bicubik/bicubik";

* {
  box-sizing: border-box;
}

html, body, .content {
  height: 100%;
}

html {
  font-size: 2.2vh;
}

.app {
  cursor: grab;
  height: 100%;
  background: url('./resources/images/App__Background.gif');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;

  &:active {
    cursor: grabbing;
  }
}

.content {
  letter-spacing: 0.1em;
  font-family: Bicubik, sans-serif;
  font-variant: small-caps;
}

.main {
  display: block;
  height: calc(100% - 2.5em);
  position: relative;
}

.page {
  height: 100%;
}
