.name-and-avatar-tab {
  height: 100%;
}

.name-and-avatar-tab__wrapper {
  padding: 1.5em 2.25em 0;
  //height: 100%;
}

.name-and-avatar-tab__avatar {
  height: 17.5em;
  width: 17.5em;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.9em;

  &_editable {
    .name-and-avatar-tab__avatar-edit-icon {
      display: block;
    }
  }

  &_is-loading {
    &:after {
      content: attr(data-loading-message);
      font-size: 2em;
      line-height: 7.25em;
      color: $text;
      height: 100%;
      width: 100%;
      position: absolute;
      background: #000;
      opacity: 0.7;
      text-align: center;
    }
  }
}

.name-and-avatar-tab__avatar-input {
  display: none;
}

.name-and-avatar-tab__avatar-input-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.name-and-avatar-tab__avatar-img {
  height: 100%;
  @include absoluteCenterTransform;
}

.name-and-avatar-tab__name {
  margin: 0 auto 1em;
  text-align: center;
}

.name-and-avatar-tab__buttons-wrapper {
  margin: 0 auto 1.5em;
}

.name-and-avatar-tab__button {
  width: calc(50% - 0.65em);
  display: inline-block;
  background-color: transparent;
  border: 0.15em solid $action;
  border-radius: 0.15rem;
  padding: 0.9em 1em;
  margin: 0 0 0 auto;
  cursor: pointer;
  text-align: center;

  @include flashBorderOnHover($select);

  &:not(:last-child) {
    margin-right: 1.25em;
  }
}

.name-and-avatar-tab__avatar-edit-icon {
  display: none;
  position: absolute;
  color: $action;
  right: 0.25em;
  bottom: 0.25em;
  cursor: pointer;

  @include flashColorOnHover($select);
}
