.characters-page__header {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 5px;
}

.characters-page__content-wrapper {
  max-width: 790px;
  margin: 0 auto;
}
