$infoSectionHeight: 64px;

.attributes-tab {
  height: 100%;
}

.attributes-tab__info {
  height: $infoSectionHeight;
  text-align: center;
}

.attributes-tab__available-points {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  line-height: $infoSectionHeight;
  border-right: 4px solid #d8000b;
}

.attributes-tab__available-points-label {
  display: inline-block;
  width: 80%;
  height: 100%;
  vertical-align: top;
  border-right: 4px solid #d8000b;
}

.attributes-tab__available-points-value {
  display: inline-block;
  width: 20%;
  height: 100%;
  vertical-align: top;
}

.attributes-tab__price-and-modifier-wrapper {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  line-height: $infoSectionHeight / 2 - 2px;
}

.attributes-tab__price {
  display: block;
  height: 50%;
  border-bottom: 2px solid #d8000b;
}

.attributes-tab__price-value {
  display: inline-block;
  width: 20%;
  height: 100%;
  vertical-align: top;
  border-right: 4px solid #d8000b;
}

.attributes-tab__price-label {
  display: inline-block;
  width: 80%;
  height: 100%;
  vertical-align: top;
  text-align: left;
  padding-left: 25px;
}

.attributes-tab__modifier {
  display: block;
  height: 50%;
  border-top: 2px solid #d8000b;
}

.attributes-tab__modifier-value {
  display: inline-block;
  width: 20%;
  height: 100%;
  vertical-align: top;
  border-right: 4px solid #d8000b;
}

.attributes-tab__modifier-label {
  line-height: $infoSectionHeight / 2;
  display: inline-block;
  width: 80%;
  height: 100%;
  vertical-align: top;
  text-align: left;
  padding-left: 25px;
}

.attributes-tab__controls {
  width: 50%;
  height: calc(100% - #{$infoSectionHeight});
  display: inline-block;
  border-top: 4px solid #d8000b;
  border-right: 4px solid #d8000b;
}

.attributes-tab__controls-list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.attributes-tab__description {
  width: 50%;
  height: calc(100% - #{$infoSectionHeight});
  display: inline-block;
  border-top: 4px solid #d8000b;
  vertical-align: top;
}

.attributes-tab__description-text-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.attributes-tab__description-text {
  padding: 20px;
  text-align: justify;
}

.attributes-tab__control {
  width: 100%;
  height: 64px;
  line-height: 64px;
  border-bottom: 4px solid #d8000b;
  position: relative;

  &:last-child {
    margin-bottom: -4px;
  }

  &_can-be-upped {
    & .attributes-tab__control-up {
      display: block;
    }
  }

  &_can-be-downed {
    & .attributes-tab__control-down {
      display: block;
    }
  }

  &_selected {
    background-color: #d8000b12;
  }
}

.attributes-tab__control-label {
  display: inline-block;
  width: 80%;
  height: 100%;
  vertical-align: top;
  text-align: left;
  padding-left: 20px;
}

.attributes-tab__control-value-area {
  display: inline-block;
  width: 20%;
  height: 100%;
  vertical-align: top;
  text-align: center;
  position: relative;
}

@mixin controlArrow() {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 24px 24px 0;
  border-color: transparent #d8000b transparent transparent;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.attributes-tab__control-down {
  display: none;
  @include controlArrow();
  right: calc(50% + 18px);
}

.attributes-tab__control-up {
  display: none;
  @include controlArrow();
  transform: rotate(180deg);
  left: calc(50% + 18px);
}
