.attributes-tab {
  height: 100%;
}

.attributes-tab__control {
  border-bottom: 0.2em solid $borders;

  &:last-child {
    margin-bottom: -0.2em;
  }
}

.attributes-tab__controls-and-description-wrapper {
  height: calc(100% - #{$info-section-height});
}

.attributes-tab__controls {
  width: 50%;
  height: 100%;
  display: inline-block;
  border-right: 0.2em solid $borders;
}

.attributes-tab__controls-list {
  height: 100%;
}
