.underground-broadcast {
  @include absoluteCenterPositioning;
}

.underground-broadcast__status {
  height: 2.5em;
  padding-left: 2.2em;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 0.8em;
    width: 0.8em;
    top: 0;
    bottom: 0.16em;
    left: 0.8em;
    border-radius: 1em;
    margin: auto;
  }

  &_lost, &_disabled {
    @include statusBlinker;

    &:before {
      background-color: $error;
    }

    .underground-broadcast__status-message {
      color: $error;
    }
  }

  &_establishing {
    @include statusBlinker;

    &:before {
      background-color: $select;
    }

    .underground-broadcast__status-message {
      color: $select;
    }
  }

  &_established {
    &:before {
      background-color: #0FDC00;
    }

    .underground-broadcast__status-message {
      color: #066ab5;
    }
  }
}

.underground-broadcast__status-message {
  line-height: 2.5em;
  height: 100%;
  display: block;
}

.underground-broadcast__screen {
  height: calc(100% - 4.5em);
  width: calc(100% - 3em);
  margin: 0.5em 1.5em 1.5em;
  border: 0.2em solid $borders;
  background-size: cover;
  background-image: url('./resources/images/UndergroundBroadcast__NoSignal.gif');
  background-repeat: no-repeat;
  background-position: center;
  animation-name: signal1;

  &_broadcasting {
    background-size: contain;
    animation-name: signal2;
  }

  &_biker-girl {
    background-image: url('./resources/images/UndergroundBroadcast__BikerGirl.gif');
  }

  &_biker-in-the-rain {
    background-image: url('./resources/images/UndergroundBroadcast__BikerInTheRain.gif');
  }

  &_bionic-limp {
    background-image: url('./resources/images/UndergroundBroadcast__BionicLimp.gif');
 }

  &_cam {
    background-image: url('./resources/images/UndergroundBroadcast__Cam.gif');
  }

  &_circuit {
    background-image: url('./resources/images/UndergroundBroadcast__Circuit.gif');
  }

  &_control-panels {
    background-image: url('./resources/images/UndergroundBroadcast__ControlPanels.gif');
  }

  &_cyborg-girl {
    background-image: url('./resources/images/UndergroundBroadcast__CyborgGirl.gif');
  }

  &_data {
    background-image: url('./resources/images/UndergroundBroadcast__Data.gif');
  }

  &_delivery {
    background-image: url('./resources/images/UndergroundBroadcast__Delivery.gif');
  }

  &_de-lorean {
    background-image: url('./resources/images/UndergroundBroadcast__DeLorean.gif');
  }

  &_dendy {
    background-image: url('./resources/images/UndergroundBroadcast__Dendy.gif');
  }

  &_head-scheme {
    background-image: url('./resources/images/UndergroundBroadcast__HeadScheme.gif');
  }

  &_mallplex {
    background-image: url('./resources/images/UndergroundBroadcast__Mallplex.gif');
  }

  &_night-city {
    background-image: url('./resources/images/UndergroundBroadcast__NightCity.gif');
  }

  &_piramid-in-space {
    background-image: url('./resources/images/UndergroundBroadcast__PiramidInSpace.gif');
  }

  &_purple-window {
    background-image: url('./resources/images/UndergroundBroadcast__PurpleWindow.gif');
  }

  &_replicant-red {
    background-image: url('./resources/images/UndergroundBroadcast__ReplicantRed.gif');
  }

  &_sunset-ride {
    background-image: url('./resources/images/UndergroundBroadcast__SunsetRide.gif');
  }

  &_underground-rebel {
    background-image: url('./resources/images/UndergroundBroadcast__UndergroundRebel.gif');
  }

  &_virtual-girl {
    background-image: url('./resources/images/UndergroundBroadcast__VirtualGirl.gif');
  }

  &_disabled {
    animation-name: signal3;
    background-image: none;
  }

  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0, 1.63, 0, 0.69);

  @keyframes signal1 {
    50% {
      background-image: url("./resources/images/UndergroundBroadcast__WeakSignal.gif");
    }
  }

  @keyframes signal2 {
    50% {
      background-image: url("./resources/images/UndergroundBroadcast__WeakSignal.gif");
    }
  }

  @keyframes signal3 {
    50% {
      background-image: url("./resources/images/UndergroundBroadcast__WeakSignal.gif");
    }
  }
}
