{
  "extends": ["airbnb"],
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["json"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "react/prefer-stateless-function": "off"
  }
}
