.technologies-tab {
  height: 100%;
  position: relative;
}

.technologies-tab__technologies-rows-wrapper {
  height: calc(100% - #{$info-section-height});
}

.technologies-tab__technologies-rows {
  padding: 1.5em;
}

.technologies-tab__technologies-group {
  display: block;
  padding: 0.75em;
  border-radius: 0.5rem;
  position: relative;

  $group-colors-map: (
    frontend: #a33eee,
    backend: #aa2e25,
    // somethingElse: #066ab5,
  );

  $group-colors-highlighted-map: (
    frontend: #daa7ff,
    backend: #ff8394,
  );

  @each $group-name, $group-color in $group-colors-map {
    &_#{$group-name} {
      background: #{$group-color}24;

      .technologies-tab__technology {
        color: $group-color;
        border-color: $group-color;

        &:hover {
          color: map_get($group-colors-highlighted-map, $group-name);
          background: #{$group-color}94;
        }

        &_can-be-removed {
          color: map_get($group-colors-highlighted-map, $group-name);
          background: #{$group-color}94;

          &:hover {
            background-color: $group-color;
          }
        }

        &_not-available {
          color: #{$group-color}61;
          border-color: #{$group-color}61;

          &:hover {
            border-color: $group-color;
            color: map_get($group-colors-highlighted-map, $group-name);
            background: #{$group-color}94;
          }
        }
      }

      .technologies-tab__technology-arrow {
        color: $group-color;
      }
    }
  }
}

.technologies-tab__technologies-group-label {
  display: inline-block;
  position: absolute;
  top: -0.55em;
  left: 0.75em;
}

.technologies-tab__technologies-row {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

$technology-size: 3.5em;
$icon-size: 2.1em;
$complexity-levels: (0, 1, 2, 3, 4);
$complexity-levels-count: length($complexity-levels);

.technologies-tab__technology-wrapper {
  width: calc((100% - 1px/* IE 11 one love */) / #{$complexity-levels-count});
  display: inline-block;
}

.technologies-tab__icon {
  @include absoluteCenterPositioning;
  text-align: center;
  width: $icon-size;
  height: $icon-size;
}

.technologies-tab__technology {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-width: 0.2em;
  border-style: solid;
  border-radius: 0.5rem;
  height: $technology-size;
  width: $technology-size;
  transition: background-color 0.15s;
  transition-timing-function: ease-out;

  &:hover {
    border-style: solid;
    transition: background-color 0s;
  }

  &:after {
    content: attr(data-level);
    position: absolute;
    font-size: 0.7em;
    font-weight: 800;
    right: 0.2em;
    top: 0.2em;
  }

  @each $complexity-level in $complexity-levels {
    &_complexity-#{$complexity-level} {
      left: calc(100% / #{$complexity-levels-count - 1} * #{$complexity-level} - #{$technology-size} / #{$complexity-levels-count - 1} * #{$complexity-level});
    }
  }

  &_can-be-added {
    border-style: dashed;
  }

  &_not-available {
    border-style: dotted;

    .technologies-tab__icon {
      opacity: 0.4;
    }

    &:hover {
      .technologies-tab__icon {
        opacity: 1;
      }
    }
  }
}

.technologies-tab__technology-arrow {
  display: inline-block;
  position: absolute;
  width: $technology-size;
  height: $technology-size;

  &:before {
    @include absoluteCenterPositioning;
    content: '⇨';
    display: block;
    text-align: center;
    height: 1em;
    font-size: 2.25em;
  }

  &_not-available {
    opacity: 0.4;
  }

  @each $complexity-level in $complexity-levels {
    &_complexity-#{$complexity-level} {
      left: calc(#{$complexity-level + 1} * #{$technology-size} + ((#{$complexity-level} + 0.5) * (100% - #{$technology-size} * #{$complexity-levels-count}) / #{$complexity-levels-count - 1}) - 0.5 * #{$technology-size});
    }
  }
}
