.registration-page__header {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 5px;
}

.registration-page__content-wrapper {
  max-width: 790px;
  margin: 0 auto;
}

.registration-page__confirmation-message {
  display: block;
  background: #2ed819;
  padding: 15px;
  border: 2px solid #119800;
  margin-bottom: 15px;
}
