.mouse-following-popup {
  display: none;
  position: absolute;
  z-index: $mouseFollowingPopup;

  &_top {
    transform: translateY(-100%);
  }

  &_left {
    transform: translateX(-100%);
  }

  &_has-content {
    display: block;
  }
}

.mouse-following-popup_top.mouse-following-popup_left {
  transform: translate(-100%, -100%);
}
