$inputHeight: 37px;

.input-with-icons {
  display: block;
  position: relative;
}

.input-with-icons__label {
  display: block;
  position: relative;
  font-size: 20px;
}

.input-with-icons__input {
  display: block;
  width: 100%;
  border-radius: 8px;
  height: $inputHeight;
  border: 2px solid #777;
  font-size: 20px;
  margin-top: 8px;
  padding-left: 10px;
  padding-right: 52px;
}

.input-with-icons__icon {
  position: absolute;
  bottom: 0;
  height: $inputHeight;
  width: 20px;
  line-height: $inputHeight;
  text-align: center;
  cursor: pointer;

  &_confirm {
    color: #156600;
    right: 25px;
  }

  &_cancel {
    right: 5px;
    color: #d8000b;
  }
}
