.roles-tab {
  height: 100%;
}

.roles-tab__controls {
  width: 50%;
  height: 100%;
  display: inline-block;
  border-right: 0.2em solid $borders;
}

.roles-tab__controls-list {
  height: 100%;
}

.roles-tab__control {
  border-bottom: 0.2em solid $borders;

  &:last-child {
    margin-bottom: -0.2em;
  }
}
