.characters-list__character {
  border: 5px solid #6f63f4;
  font-size: 20px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover {
    border-color: #7f0000;
    cursor: pointer;
  }
}

.characters-list__section {
  display: inline-block;
  padding: 15px;

  &_name-and-avatar {
    width: 30%;
  }

  &_properties-list {
    width: 35%;
    vertical-align: top;
  }
}

.characters-list__character-avatar-wrapper {
  height: 200px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.characters-list__character-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%,-50%);
}

.characters-list__character-name {
  display: block;
  text-align: center;
}

.characters-list__properties-list-header {
  display: block;
  text-decoration: underline;
  margin-bottom: 10px;
}

.characters-list__properties-list {
  display: block;
}

.characters-list__property {
  position: relative;
  padding-right: 30px;
}

.characters-list__property-name {
  display: block;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.characters-list__property-value {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
