.character-profile {
  height: 100%;
  font-size: 20px;
}

.character-profile__tab-titles-list {
  height: 31px;
  line-height: 31px;
  display: flex;
  box-sizing: content-box;
  border: 4px solid #d8000b;
  border-bottom: 0;
}

.character-profile__tab-title {
  flex: 1;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;

  &:not(:last-child) {
    border-right: 4px solid #d8000b;
  }

  &:hover {
    text-decoration: underline;
  }

  &_active {
    text-decoration: underline;
    background-color: #d8000b38;
  }
}

.character-profile__active-tab-wrapper {
  overflow: hidden;
  height: calc(100% - 35px);
  border: 4px solid #d8000b;

  &:not(:last-child) {
    height: calc(100% - 131px);
  }
}

.character-profile__buttons {
  text-align: center;
  display: block;
  padding: 15px;
  border-left: 4px solid #d8000b;
  border-right: 4px solid #d8000b;
  border-bottom: 4px solid #d8000b;
  height: 96px;
}

.character-profile__button {
  width: calc(50% - 13px);
  display: inline-block;
  background-color: transparent;
  border: 3px solid #6359ff;
  border-radius: 14px;
  padding: 18px 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;

  &_disabled {
    cursor: default;
    opacity: 0.3;
  }

  &:not(:last-child) {
    margin-right: 25px;
  }
}
