.character-profile {
  height: 100%;
}

.character-profile__tab-titles-list {
  height: 1.55em;
  line-height: 1.55em;
  display: flex;
  box-sizing: content-box;
  border: 0.2em solid $borders;
  border-bottom: 0;
}

.character-profile__tab-title {
  flex-grow: 1;
  padding: 0 1em;
  text-align: center;
  cursor: pointer;

  &_active {
    background-color: #{$select}d1;
  }

  @include flashBackgroundOnHover(#{$select});

  &:not(:last-child) {
    border-right: 0.2em solid $borders;
  }
}

.character-profile__active-tab-wrapper {
  overflow: hidden;
  height: calc(100% -  1.75em);
  border: 0.2em solid $borders;

  &:not(:last-child) {
    height: calc(100% - 6.55em);
  }
}

.character-profile__buttons {
  text-align: center;
  display: block;
  padding: 0.75em;
  border-left: 0.2em solid $borders;
  border-right: 0.2em solid $borders;
  border-bottom: 0.2em solid $borders;
  height: 4.8em;
}

.character-profile__button {
  width: calc(50% - 0.65em);
  display: inline-block;
  background-color: transparent;
  border: 0.15em solid $action;
  border-radius: 0.15rem;
  padding: 0.9em 1em;
  cursor: pointer;
  text-align: center;

  &:not(&_disabled) {
    @include flashBorderOnHover($select);
  }

  &_disabled {
    cursor: default;
    opacity: 0.3;
  }

  &:not(:last-child) {
    margin-right: 1.25em;
  }
}

.character-profile__cannot-save-popup {
  max-width: 25rem;
  border-radius: 0.15rem;
  background: $background;
  border: 0.2em solid $select;
  color: $text;
  padding: 0.75em;
  font-size: 0.9em;
  line-height: 1.1em;
  text-align: left;
}
