.header {
  height: $header-height;
  display: flex;
}

.header__status {
  position: relative;
  height: 100%;
  flex-grow: 1;
  padding-left: 2.2em;

  &:before {
    content: '';
    position: absolute;
    height: 0.8em;
    width: 0.8em;
    top: 0;
    bottom: 0.16em;
    left: 0.8em;
    border-radius: 1em;
    margin: auto;
  }

  &_authenticated {
    &:before {
      background-color: #0FDC00;
    }

    .header__status-message {
      color: #066ab5;
    }
  }

  &:not(&_authenticated) {
    @include statusBlinker;

    &:before {
      background-color: $error;
    }

    .header__status-message {
      color: $error;
    }
  }
}

.header__status-message {
  line-height: $header-height;
  height: 100%;
  display: block;
}

.header__navigation {
  height: 100%;
}

.header__navigation-list {
  height: 100%;
  text-align: right;
  padding-right: 1em;
}

.header__navigation-element {
  position: relative;
  display: inline-block;
  height: 100%;
  margin: 0 0.75em;
}

.header__login-form-container {
  display: none;
  position: absolute;
  right: 0;
  width: 17.5em;
  background: $background;
  padding: 1em;
  z-index: $loginFormZIndex;
  border: 0.2em solid $borders;
  opacity: 0.95;

  &_expanded {
    display: block;
  }
}

.header__navigation-link {
  color: inherit;
  line-height: $header-height;
  height: 100%;
  display: block;
  text-decoration: none;
}
