$header-logo-width: 190px;
$header-logo-side-margin: 10px;

.header {
  height: $header-height;
  background: #B100FE;
}

.header__logo {
  height: 100%;
  margin: 0 $header-logo-side-margin;
  width: $header-logo-width;
  padding: 1px 0;
}

.header__logo-link {
  display: block;
  height: 100%;
  width: 190px;
  text-align: center;
  border: 2px solid #329400;
}

.header__logo-img {
  display: inline-block;
  height: 100%;
}

.header__navigation {
  display: block;
  height: 100%;
  float: right;
  width: calc(100% - #{$header-logo-width} - #{$header-logo-side-margin * 2});
}

.header__navigation-list {
  height: 100%;
  text-align: right;
  padding-right: 20px;
}

.header__navigation-element {
  display: inline-block;
  height: 100%;
  margin: 0 15px;

  &_login {
    position: relative;
  }
}

.header__login-form-container {
  display: none;
  position: absolute;
  right: 0;
  width: 350px;
  background: #c5c5c5;
  padding: 20px;
  border-radius: 10px;

  &_expanded {
    display: block;
  }
}

.header__navigation-link {
  color: $white;
  line-height: $header-height;
  height: 100%;
  display: block;
  text-decoration: none;
  font-size: 20px;
}
